<section class="frete-container" >
    <div class="container-frete">
        <h4 class="frete-title">Calcular frete</h4>
    </div>

    <div class="custom-select">
        <select [(ngModel)]="opcaoSelecionada" (change)="onChange()">
            <option value="opcao1">Areeiro - R$ 10,00</option>
            <option value="opcao2">Lagoa das garças - R$ 20,00</option>
            <option value="opcao3">Cajueiro Seco - R$ 30,00</option>
            <option value="opcao4">Jardim Piedade - R$ 40,00</option>
            <option value="opcao5">Piedade - R$ 50,00</option>
            <option value="outro">Outro</option>
        </select>
    </div>
            
    <div *ngIf="opcaoSelecionada === 'outro'">
        <div class="texto1">
            <p>Calcule seu CEP</p>
            <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
        </div>
        <input [(ngModel)]="inputUsuario" type="text" placeholder="Digite seu CEP" maxlength="9" id="cepInput" (input)="formatarCEP($event)" [ngStyle]="{'border-color': inputError ? 'red' : 'initial'}">
        <p><a href="">Não sei meu CEP</a></p>
        <button (click)="calcularOFrete()">Calcular</button>
    </div>

    <div class="container-frete">
        <div class="options-fretes" *ngIf="valoresDosFretes.length > 0">
            <div *ngFor="let frete of valoresDosFretes; let i = index" class="option">
                <label class="radio-label">
                    <input type="radio" name="freteSelecionado" [value]="frete">
                    <span class="frete-details">
                        <span class="frete-name">{{frete.name}}</span>
                        <span class="frete-name">{{frete.delivery_time}} dias</span>
                        <span class="frete-price">R$ {{frete.price}}</span>
                    </span>
                </label>
                <div class="divider" *ngIf="i !== valoresDosFretes.length - 1"></div>
            </div>
        </div>
    </div>
</section>