* {
    font-family: 'Inter', sans-serif; 
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.7rem;
    font-weight: 150;
}

/* FRETE */

.frete-container {
    display: flex;
    flex-direction: column;
    margin: 3rem auto 0;
    width: 16rem;
    padding: 0.5rem;
    background-color: transparent;
    margin-right: 5.4rem;
    position: relative; /* Permite o uso de valores top, left, right, bottom */
    top: -14.5rem; /* Move a section para cima */
}

#cepInput {
    outline: none;
    color: #232323ea;
    margin-top: 0.5rem;
    width: 15.7rem;
    height: 2.5rem;
    border-radius: 5px;
    border: 2px solid #545454;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.frete-container button {
    background-color: #0166FF;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    height: 3rem;
    width: 17rem;
    margin-top: 1.5rem;
    transition: 0.2s;
    font-size: 1.5rem;
    font-weight: bold;
}

.frete-container button:active {
    background-color: #0854c7;
}

.frete-container a{
    text-decoration: none;
    color: #0166FF;
    font-size: 0.9rem
}

.frete-container p {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.frete-container .texto1 {
    font-weight: bold;
    color: #545454;
    margin-top: 1.5rem;
    
    font-size: 0.9rem;
}

.error-message {
    color: red;
}

.input-error {
    border-color: red; /* Altera a cor da borda do input para vermelho */
}

.error-message-error {
    color: red; /* Altera a cor do texto da mensagem de erro para vermelho */
}

/* FRETE */

/* OPÇÕES DE FRETES */

.container-frete {
    padding: 1rem; /* Adiciona um espaço interno */
}

.frete-title {
    color: #545454;
    font-weight: bold;
    position: relative;
    right: 0.5rem;
}

.options-fretes {
    border: 2px solid #545454; /* Adiciona uma borda ao redor das opções de frete */
    width: 16.6rem;
    border-radius: 0.5rem; /* Arredonda os cantos da borda */
    right: 1rem;
    position: relative;
}

.radio-label {
    display: flex; /* Para colocar os elementos lado a lado */
    align-items: center; /* Para alinhar os elementos verticalmente */
    cursor: pointer; /* Para tornar o cursor um ponteiro ao passar sobre o rótulo */
    padding: 1rem; /* Adiciona um espaço interno */
}

.radio-label:not(:last-child) {
    border-bottom: 2px solid #545454; /* Adiciona uma linha separando cada item, exceto o último */
}

.radio-label input[type="radio"] {
    margin-right: 1rem; /* Adiciona um espaço entre o radio button e o texto */
    transform: scale(1.3); /* Aumenta o tamanho do radio button */
}

.frete-details {
    font-size: 1rem;
    display: flex; /* Para alinhar o nome e o preço horizontalmente */
    justify-content: space-between; /* Para espaçamento igual entre o nome e o preço */
    width: 100%; /* Para que o texto não quebre em várias linhas */
}

.frete-name, .frete-price {
    color: #545454;
    font-weight: bold;
}

/* OPÇÕES DE FRETES */

/* SELECT */

.custom-select select {
    border-radius: 5px;
    border: 2px solid #545454; /* Define a largura, estilo e cor da borda */
    color: #545454;
    width: 17rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    padding: 8px;
}

/* SELECT */

/* OUTROS */
@media screen and (max-width: 1079px) {
    .frete-container {
        display: flex;
        flex-direction: column;
        margin: 3rem auto 0;
        width: 16.4rem;
        padding: 0.5rem;
        background-color: transparent;
        position: relative; /* Permite o uso de valores top, left, right, bottom */
        top: -3.5rem; /* Move a section para cima */
    }

    .frete-div {
        display: flex;
        border-radius: 0.3rem;
        background-color: transparent;
        padding: 0.5rem;
        border: solid 2px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #cepInput {
        outline: none;
        color: #232323ea;
        margin-top: 0.5rem;
        width: 15.7rem;
        height: 2.5rem;
        border-radius: 5px;
        border: 2px solid #545454;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .frete-container button {
        background-color: #0166FF;
        color: white;
        border: none;
        border-radius: 0.2rem;
        outline: none;
        cursor: pointer;
        height: 3rem;
        transition: 0.2s;
        font-size: 1.2rem;
        margin-top: 1.5rem;
        font-weight: bold;
    }

    .frete-container button:active {
        background-color: #0854c7;
    }

    .frete-container a{
        text-decoration: none;
        color: #0166FF;
        font-size: 0.9rem
    }

    .frete-container p {
        margin-left: 0.5rem;
    }

    .frete-container .texto1 {
        font-size: 0.9rem;
    }
}

/* celular */
@media screen and (max-width: 599px) {
    .frete-container {
        display: flex;
        flex-direction: column;
        margin: 3rem auto 0;
        width: 16.4rem;
        padding: 0.5rem;
        background-color: transparent;
        position: relative; /* Permite o uso de valores top, left, right, bottom */
        top: -2.5rem; /* Move a section para cima */
    }

    .frete-div {
        display: flex;
        border-radius: 0.3rem;
        background-color: transparent;
        width: 15.7rem;
        padding: 0.5rem;
        margin-right: 1.5rem;
        border: solid 2px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #cepInput {
        outline: none;
        color: #232323ea;
        margin-top: 0.5rem;
        width: 15.7rem;
        height: 2.5rem;
        border-radius: 5px;
        border: 2px solid #545454;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .frete-container button {
        background-color: #0166FF;
        color: white;
        border: none;
        border-radius: 0.2rem;
        outline: none;
        cursor: pointer;
        height: 3rem;
        transition: 0.2s;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .frete-container button:active {
        background-color: #0854c7;
    }

    .frete-container a{
        text-decoration: none;
        color: #0166FF;
        font-size: 0.9rem
    }

    .frete-container p {
        margin-left: 0.5rem;
    }

    .frete-container .texto1 {
        font-size: 0.9rem;
    }
}