<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/inter@3.15.0/dist/inter.css">
<h3>Produtos</h3>

<section class="outer-produtos">
    <button *ngIf="isScrolledLeft" (click)="scrollHorizontally(-170)" class="botao-scroll-esquerda"><</button>
    
    <section class="container-produtos">
        <div *ngFor="let item of listaDeOculosDaAPI"> 
            <img src="{{item.pic}}" alt="" >
            <h5>{{item.title}}</h5>
            <h4>R$ {{item.price}},00</h4>
            <button class="botao-comprar">COMPRAR</button>
        </div>
    </section>

    <button *ngIf="isScrolledRight" (click)="scrollHorizontally(170)" class="botao-scroll">></button>
</section>