h3, h4, h5 {
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 2rem;
}

h4 {
    margin-top: 0.5rem;
}

h5 {
    margin-top: 0.5rem;
}

button {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    border: none;
    width: 10rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(51, 51, 51);
}

img {
    border: solid 3px black;
    border-radius: 0.5rem;
    width: 12rem;
    height: 12rem;
    margin-top: 1rem;
}

.juliet {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px black;
    border-radius: 0.8rem;
    width: 95%;
    height: 3rem;
}

section {
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

@media screen and (min-width: 600px) {
    h3 {
      /* PC */
      margin-top: 3rem;
      margin-left: 35%;
      transform: translateX(-50%);
    }

    .juliet {
        margin-top: 1rem;
        margin-left: 2.2rem;
    }

    .container-produtos, .container-produtos2 {
        margin-top: 1rem;
        margin-left: 2.2rem;
    }

    section {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 599px) {
    h3 {
        /* celular */
        margin-top: 3rem;
        margin-left: 1.5rem;
    }

    .juliet {
        margin-top: 1rem;
        margin-left: 1.5rem;
        width: 90%;
    }

    .container-produtos, .container-produtos2 {
        margin-top: 1rem;
        margin-left: 1.5rem;
    }
}