h3, h4, h5 {
    font-family: 'Inter', sans-serif;
}

h3 {
    font-size: 2rem;
}

h4 {
    margin-top: 0.5rem;
}

h5 {
    margin-top: 0.5rem;
}

.botao-comprar {
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    border: none;
    width: 10rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(51, 51, 51);
}

img {
    border: solid 3px black;
    border-radius: 0.5rem;
    width: 12rem;
    height: 12rem;
    margin-top: 1rem;
}

.juliet {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: solid 2px black;
    border-radius: 0.8rem;
    width: 95%;
    height: 3rem;
}

section {
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

/* PC */
@media screen and (min-width: 600px) {
    h3 {
      margin-top: 3rem;
      margin-left: 35%;
      transform: translateX(-50%);
    }

    .juliet {
        margin-top: 1rem;
        margin-left: 2.2rem;
    }

    .container-produtos {
        margin-top: 1rem;
        margin-left: 2.2rem;
        flex-wrap: wrap;
    }

    .botao-scroll {
        display: none;
    }

    .botao-scroll-esquerda {
        display: none;
    }
}

/* celular */
@media screen and (max-width: 599px) {
    h3 {
        margin-top: 3rem;
        margin-left: 1.5rem;
    }

    .juliet {
        margin-top: 1rem;
        margin-left: 1.5rem;
        width: 90%;
    }

    .outer-produtos {
        margin-top: 1rem;
        margin-left: 1.5rem;
        position: relative;
    }

    .botao-scroll-esquerda, .botao-scroll {
        position: absolute; /* Define os botões como fixos */
        background-color: #141414c5;
        border-radius: 50%;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        color: #ffffff;
        border: none;
        top: 40%; /* Posicionamento vertical no meio da janela */
        cursor: none;
    }
    
    .botao-scroll-esquerda {
        left: 10px; /* Posicionamento à esquerda */
    }
    
    .botao-scroll {
        right: 10px; /* Posicionamento à direita */
    }
    
    .botao-scroll-esquerda:hover, .botao-scroll:hover {
        background-color: #181818b7;
    }

    .botao-comprar {
        cursor: none;
    }
}