<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/inter@3.15.0/dist/inter.css">

<h1>Login</h1>

<div class="voltar-button">
    <a routerLink="/">
        <img src="assets/voltar.png" class="voltar-img"> 
    </a>
</div>

<div class="line-title"></div>

<div class="logo-container">
    <img src="assets/logo.png" class="logo">
</div>

<div class="input-container">
    <input type="email" placeholder="Email" class="email-input">
    <div class="email-icon-container">
        <img src="assets/email.png" class="email-icon">
    </div>

    <div class="input-container-password">
        <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Senha" [(ngModel)]="password" #passwordInput class="password-input" maxlength="23">
        <button class="toggle-password" (click)="togglePasswordVisibility()">
            <img src="{{ showPassword ? 'assets/eye.png' : 'assets/eye2.png' }}">
        </button>

        <div class="icon-password">
            <img src="assets/password.png">
        </div>
    </div>

    <div class="input-container-password">
        <input type="{{ showConfirmPassword ? 'text' : 'password' }}" placeholder="Confirmar senha" [(ngModel)]="confirmPassword" #confirmPasswordInput class="password-input" maxlength="23">
        <button class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
            <img src="{{ showConfirmPassword ? 'assets/eye.png' : 'assets/eye2.png' }}">
        </button>

        <div class="icon-password">
            <img src="assets/password.png">
        </div>
    </div>

    <button class="create-account">
        Logar
    </button>

    <h5>Ainda não tem uma conta? <a href="/register"><span>Criar conta</span></a></h5>
    <h5>Esqueceu sua <a href=""><span>senha</span></a>?</h5>
    <!-- <h4>Crie uma conta para poder fazer compras <br>na nossa loja :)</h4> -->
</div>