* {
    font-family: 'Inter', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    color: #0066FF;
}

.line-title {
    width: 8rem;
    height: 0.3rem;
    background-color: #0066FF;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.voltar-button {
    position: absolute;
    top: 60px;
    left: 60px;
}

.voltar-button button {
    background-color: #0166FF;
    border: none;
    font-size: 20px;
    border-radius: 100%;
    cursor: pointer;
    color: white;
}

.voltar-img {
    width: 3.5rem;
    height: 3.5rem;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    height: 6.5rem;
}

input {
    margin-bottom: 1rem;
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    padding: 5px 15px;
    border: solid 2px black;
    outline: none;
    transition: 0.5s;
}

input::placeholder {
    color: #282828;
}

input:focus {
    border-color: #0166FF;
}

input:hover {
    border-color: #0166FF;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    width: 17rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #0066FF;;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.create-account:active {
    background-color: #063f96;
}

h5 {
    margin-top: 0.3rem;
}

h5 a {
    text-decoration: none;
}

h5 span {
    color: #0066FF;
}

/* h4 {
    text-align: center;
    position: fixed;
    bottom: 0.8rem;
} */

.input-container-password {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 40%;
    right: 1.2rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.toggle-password img {
    width: 1.5rem;
    height: auto;
}

.email-icon-container {
    position: relative;
}

.email-icon {
    position: absolute;
    right: 6rem;
    transform: translateY(-310%);
    width: 1.4rem;
    height: auto;
}

/* Posicionar textos do input */

.email-input, .password-input {
    position: relative;
}

.email-input::placeholder, .password-input::placeholder {
    position: absolute;
    left: 1rem;
}

.email-input, .password-input {
    text-indent: 2.5rem;
}

/* Posicionar textos do input */

.icon-password {
    position: absolute;
    top: 40%;
    left: 1.4rem;
    transform: translateY(-50%);
}

.icon-password img {
    width: 1rem;
    height: auto;
}

/* Celular */
@media screen and (max-width: 599px) {
    h4 {
        font-size: 0.8rem;
    }

    .create-account, .toggle-password {
        cursor: none;
    }

    .voltar-button {
        position: absolute;
        top: 30px;
        left: 25px;
    }
    
    .voltar-button button {
        background-color: #0166FF;
        border: none;
        font-size: 20px;
        border-radius: 100%;
        cursor: pointer;
        color: white;
    }
    
    .voltar-img {
        width: 2rem;
        height: 2rem;
    }
}