h1 {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Inter', sans-serif;
    margin-top: 0.5rem;
    font-size: 1rem;
    white-space: pre-line;
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 8rem;
    margin-top: 1rem;
}

img {
    border-radius: 100%;
    height: 8rem;
    width: 8rem;
    border: solid 3px black;
}

section {
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.outer-container {
    position: relative;
}

.botao-scroll-esquerda, .botao-scroll {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #141414c5;
    border-radius: 50%;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    color: #ffffff;
    border: none;
}

.botao-scroll-esquerda {
    left: 10px; /* Posicionamento à esquerda */
}

.botao-scroll {
    right: 10px; /* Posicionamento à direita */
}

.botao-scroll-esquerda:hover, .botao-scroll:hover {
    background-color: #181818b7;
}


/* PC */
@media screen and (min-width: 600px) {
    .container-categorias {
        margin-left: 2.3rem;
        margin-top: 0.5rem;
        overflow: hidden;
    }

    h1 {
        margin-top: 10rem;
        margin-left: 35%;
        transform: translateX(-50%);
      }
}

/* celular */
@media screen and (max-width: 599px) {
    .container-categorias {
        margin-left: 1.5rem;
        margin-top: 0.5rem;
    }

    h1 {
        margin-top: 5rem;
        margin-left: 1.5rem;
    }
}