h1 {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Inter', sans-serif;
    margin-top: 0.5rem;
    font-size: 1rem;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

img {
    border-radius: 100%;
    margin-top: 1rem;
    height: 8rem;
    width: 8rem;
    border: solid 3px black;
}

section {
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
}

@media screen and (min-width: 600px) {
    .container-categorias {
        /* PC */
        margin-left: 2.3rem;
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 599px) {
    .container-categorias {
        /* celular */
        margin-left: 1.5rem;
        margin-top: 0.5rem;
    }
}

@media screen and (min-width: 600px) {
    h1 {
      /* PC */
      margin-top: 10rem;
      margin-left: 35%;
      transform: translateX(-50%);
    }
}

@media screen and (max-width: 599px) {
    h1 {
        /* celular */
        margin-top: 5rem;
        margin-left: 1.5rem;
    }
}