.input-container {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 20rem;
    padding: 0.5rem;

    border-radius: 1rem;
    background-color: #D8D8D8;
    border: none;
    outline: none;
    color: #232323ea;
}

input::placeholder {
  color: #23232398
}
  
  @media only screen and (min-width: 431px) {
    .input-container {
      width: 15rem;
    }
}

@media only screen and (min-width: 900px) {
  .input-container {
    float: right;
    margin-right: 2%;
    width: 40rem;
  }
}

img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}