* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #282828;
    z-index: 10;
}

.logo {
    position: relative;
    width: 7rem;
    object-fit: contain;
}

/* ---------------------------- */

.input-container {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #ffffff;
    width: 50%;
    height: 3.2rem;
}

input {
    background: transparent;
    border: none;
    outline: none;
    color: #232323ea;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 93%;
}

input::placeholder {
    color: #23232398;
}

.lupa {
    width: 3rem;
    height: 2.6rem;
    object-fit: cover;
    transform: scale(0.5);
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.cart-icon {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.registrar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-user {
    width: 1.7rem;
    height: 1.7rem;
    object-fit: contain;
}

.title-login, .title-register {
    color: white;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    color: #2a7fff;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
}

.navigation li {
    list-style: none;
    margin: 0 15px;
}

.navigation li a {
    color: black;
    font-size: 0.8rem;
}

.navigation li a:hover {
    color: #2a7fff;
}

/* --------CELULAR-------- */

.menu-icon {
    width: 1.7rem;
    height: 1.7rem;
    object-fit: contain;
}

.menu {
    display: none;
}

.menu-father {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Altere a opacidade (0.5) conforme necessário */
    z-index: 999; /* Certifique-se de que este valor seja maior do que o z-index do seu conteúdo */
}

.fechar {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 2rem;
}

.div-lista {
    padding: 1rem;
    margin-top: 0.8rem;
}

.title-lista {
    color: black;
    font-weight: bold;
}

/* --------CELULAR-------- */

@media screen and (max-width: 760px) {
    .input-container {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        border-bottom: solid 1px black;
        border-radius: 0;
    }

    .title-login, .title-register {
        display: none;
    }

    .navigation {
        display: none;
    }

    .menu {
        display: flex;
    }
}