<main>
  <header>
    <section class="menu-container">
      <div class="menu">
        <button class="menu-button" (click)="toggleMenu()">
            <img src="assets/menu.png" class="menu-icon">
        </button>
      </div>
      
      <div class="menu-father" *ngIf="menuState" [@menuAnimation]="menuState">
          <div class="fechar">
              <img src="assets/fechar.png" (click)="toggleMenu()">
          </div>
      
          <div class="lista">
              <div class="div-lista"><a href="" class="title-lista">ACESSÓRIOS</a></div><hr>
              <div class="div-lista"><a href="" class="title-lista">LUPAS</a></div><hr>
              <div class="div-lista"><a href="" class="title-lista">DESTAQUES</a></div><hr>
              <div class="div-lista"><a href="" class="title-lista">ACESSÓRIOS</a></div><hr>
              <div class="div-lista"><a href="" class="title-lista">PRODUTOS</a></div><hr>
              <div class="div-lista"><a href="" class="title-lista">RASTREAR</a></div>
          </div>
      </div>
    </section>

    <a href="#"><img src="assets/New logo.png" class="logo"></a>

    <div class="input-container">
      <input type="text" placeholder="Pesquisar">
      <button>
          <img src="assets/Lupa.png" class="lupa">
      </button>
    </div>

    <div class="icons">
      <div class="registrar">
        <a href="#"><img src="assets/user_login.png" class="icon-user"></a>
        <div class="icons-container">
          <div class="title-login"><strong>Olá! <a href="/login">Faça login</a></strong></div>
          <div class="title-register"><a href="/register">ou cadastre-se</a></div>
        </div>
      </div>

      <div class="cart">
        <a href="/cart"><img src="assets/cart.png" class="cart-icon"></a>
      </div>
    </div>
  </header>

  <ul class="navigation">
    <li><a href="#">CATEGORIAS</a></li>
    <li><a href="#">LUPAS</a></li>
    <li><a href="#">DESTAQUES</a></li>
    <li><a href="#">ACESSÓRIOS</a></li>
    <li><a href="#">PRODUTOS</a></li>
    <li><a href="#">RASTREAR</a></li>
  </ul>
  <hr>
</main>
