h1 {
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

h5 {
    font-family: 'Inter', sans-serif;
    margin-top: 0.7rem;
    font-size: 1rem;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

img {
    height: 8rem;
    width: 8rem;
    border: solid 3px black;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

section {
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

/* PC */
@media screen and (min-width: 600px) {
    .container-destaques {
        margin-left: 2.3rem;
        margin-top: 1rem;
    }

    section {
        flex-wrap: wrap;
    }

    h1 {
        margin-top: 5rem;
    }
}

/* celular */
@media screen and (max-width: 599px) {
    .container-destaques {
        margin-top: 0.5rem;
    }

    section {
        display: flex;
        justify-content: flex-start;
        margin-left: 1.9rem;
    }

    h1 {
        margin-top: 5rem;
    }
}